:root {
	--background-color: rgb(191, 209, 229);
	--mainBackground-color: rgb(166, 189, 219);

	--buttonBackground-color: rgb(104, 149, 197);
/*	--tileBackground-color: rgb(128, 166, 206);*/

	--border-color: rgb(217, 229, 240);

	--headerText-color: rgb(8, 96, 168);
	--regularText-color: rgb(80, 133, 188);
}

* {
	border: 1px solid red; /* for testing purposes */
	font-family: sans-serif;
}

body {
	background-color: var(--background-color);
}

main {
	width: 100vw;
	height: 100vh;
	margin: 0;
	min-width: 450px;
	min-height: 300px;
	/*border: 1px solid green; /* for testing purposes */
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

button {
	background-color: var(--buttonBackground-color);
	color: var(--border-color);
	text-align: center;
	border: 1px solid var(--border-color);
	border-radius: 10%;
	padding: 10px;
	margin: 0;
}

button:hover {
	cursor: pointer;
	background: linear-gradient(var(--mainBackground-color), var(--buttonBackground-color));
}

.button-active, button:active {
	box-shadow: inset 0 0 10px var(--border-color);
}

input {
	text-align: center;
	border-radius: 10%;
	color: var(--headerText-color);
	border: 1px solid var(--regularText-color);
	margin: 0;
}

h1 {
	color: var(--headerText-color);
	font-size: 4rem;
	margin: 0;
}

.vertical-stack {
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

#game-wrapper, #settings-wrapper {
	position: relative;
	width: 50vw;
	height: 50vh;
	min-width: 300px;
	min-height: 300px;
	max-width: 600px;
	max-height: 600px;
	margin: 0;
	background-color: var(--mainBackground-color);
	border-radius: 10%;
	border: 3px solid var(--border-color);
}

.game-nav-bar {
	position: absolute;
	width: 95%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.top-nav {
	top: 5%;
}

.bottom-nav {
	bottom: 5%;
}

#home-btn, #restart-btn, #settings-btn {
	width: 40px;
	height: 40px;
}

.top-left-btn {
	border-top-left-radius: 40%;
}

.top-right-btn {
	border-top-right-radius: 40%;
}

.bottom-right-btn {
	border-bottom-right-radius: 40%;
}

#prompt {
	color: var(--regularText-color);
	font-size: 1.3rem;
	text-align: center;
	margin: 0;
}

#hint-result {
	color: white;
	font-size: 1.5rem;
	height: 1.5rem;
	text-align: center;
	margin: 0;
}

#input-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 0;
}

#number-input {
	width: 80px;
	height: 50px;
	font-size: 2rem;
}

#check-btn, #start-btn {
	width: 100px;
	height: 50px;
	font-size: 1.3rem;
}

#chances-left {
	color: white;
	font-size: 1.3rem;
	height: 1.3rem;
	text-align: center;	
	margin: 0;
}

#settings-title {
	color: var(--headerText-color);
	font-size: 1.8rem;
/*	text-align: center;*/
	margin: 0;
}

.settings-label {
	color: var(--regularText-color);
	font-size: 1.1rem;
	margin: 0;
}

.settings-input {
	width: 100px;
	height: 30px;
	font-size: 1.1rem;
	margin: 0;
}

#settings-save-btn {
	font-size: 0.8rem;
}